.dateLabel {
    margin-right: 10%;
    padding: 3px;
    background-color: darkolivegreen;
    color: white;
    font-size: 12px;
    border-radius: 5px;
}

.to{
    background-color: darkslategrey;
}