<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <mat-form-field>
            <input type="text" matInput placeholder="Título" formControlName="title"
                [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
            <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                <div *ngIf="f.title.errors.required">O título da simulação é obrigatório.</div>
            </div>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field>
            <input type="textarea" matInput placeholder="Descrição" formControlName="description"
                [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                <div *ngIf="f.description.errors.required">A descrição da simulação é obrigatória</div>
            </div>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field>
            <input matInput type="datetime-local" placeholder="De" formControlName="from">
            <mat-icon matSuffix>calendar_today</mat-icon>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field>
            <input matInput type="datetime-local" placeholder="Até" formControlName="to">
            <mat-icon matSuffix>calendar_today</mat-icon>
        </mat-form-field>
    </div>
    <div class="button" style="display: flex; justify-content: center;">
        <button [disabled]="loading" type="submit" mat-raised-button style="margin-right: 15px;">Cadastrar</button>
        <button mat-stroked-button (click)="onNoClick()" color="primary">Cancelar</button>
    </div>
</form>