<!-- <div class="row no-padding no-margin nav-bar-background mat-elevation-z6">
    <div class="no-padding no-margin align">
        <img src="../../assets/images/logo.png" alt="logo" class="space-logo size-logo">
            <search style="display:flex; justify-content: flex-end"></search>
    </div>
</div> -->
<mat-grid-list cols="2" rowHeight="80px" class="row no-padding no-margin nav-bar-background mat-elevation-z6">
        <mat-grid-tile class="tile-start">
            <img src="../../assets/images/logo.png" alt="logo" class="space-logo size-logo align">
        </mat-grid-tile>
        <mat-grid-tile class="tile-end">
            <search>
            </search>
        </mat-grid-tile>
</mat-grid-list>