<mat-grid-list cols="2" rowHeight="80px" class="row no-padding no-margin nav-bar-background mat-elevation-z6">
        <mat-grid-tile class="tile-start">
            <img src="../../assets/images/logo.png" alt="logo" class="space-logo size-logo align">
        </mat-grid-tile>
        <mat-grid-tile class="tile-end">
            <img src="{{avatar}}" class="centered-and-cropped mat-elevation-z6" width="60" height="60"
                style="border-radius:50%; margin-right: 20px;" click="logout()" />
        </mat-grid-tile>
</mat-grid-list>