<div class="row" style="align-items: center; display: flex; margin-bottom: 20px;">
    <div class="col-md-2" style="margin: 0; padding: 0; display: flex; justify-content: flex-start; padding-right:0; width: 24px;">
        <mat-icon *ngIf="data.card.type == 'education'">book</mat-icon>
        <mat-icon *ngIf="data.card.type == 'usability'">perm_data_setting</mat-icon>
        <mat-icon *ngIf="data.card.type == 'research'" style="transform: rotate(-180deg)!important;">wb_incandescent
        </mat-icon>
    </div>
    <div class="col-md-8"
        style="margin: 0; padding: 0; display: flex; align-items: center; justify-content: center; padding-right:0; font-size: 26px; width: 204px;">
        <h6 class="text">{{data.card.title}}</h6>
    </div>
    <div class="col-md-2"
        style="margin: 0; padding: 0; display: flex; align-items: center; justify-content: flex-end; cursor: pointer; padding-right:0; font-size: 26px; width: 24px;">
        <mat-icon (click)="onNoClick()">close</mat-icon>
    </div>
</div>
<div class="row" style="margin-bottom: 15px;">
    <div class="col-md-12" style="display: flex; align-items: center; justify-content: flex-end;">
        <span class="dateLabel">De: {{data.card.initialHour}}</span>
        <span class="dateLabel to">Até: {{data.card.finalHour}}</span>
    </div>
</div>
<div style="overflow-y: scroll; max-height: 430px;">
    <div class="row">
        <div class="col-md-12" style="word-wrap: break-word">
            <span style="font-weight: bold; font-size: 17px;">Descrição: </span>
            <span>{{data.card.description}}</span>
        </div>
    </div>
</div>