<div class="row">
    <mat-form-field>
        <mat-icon matPrefix>face</mat-icon>
        <mat-label>Visitas</mat-label>
        <ngx-mat-file-input #visits [accept]="'.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel'" (change)="onFileChange($event)"
            placeholder="Mande aquela lanilha de visitas ;)">
        </ngx-mat-file-input>
        <button mat-icon-button matSuffix *ngIf="!visits.empty" (click)="visits.clear($event)">
            <mat-icon>clear</mat-icon>
        </button>
    </mat-form-field>
</div>
<div *ngIf="file" class="row">
    {{file["Usalab Visitas"]}}
</div>