// CSS Reset, comment out if not required or using a different module
@import '~minireset.css/minireset';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import './grid.scss';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Usalab-primary: mat-palette($mat-indigo);
$Usalab-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Usalab-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$Usalab-theme: mat-light-theme($Usalab-primary, $Usalab-accent, $Usalab-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($Usalab-theme);

/* You can add global styles to this file, and also import other style files */
html, body { 
    height: 100%;
    background: #F9F9F9;
}

.row {
    margin: 0;
}

body { margin: 0; font-family:Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif; }

.tile-start > figure {
    display: flex;
    justify-content: flex-start !important;
    align-items: center !important;
 }

 .tile-end > figure {
    display: flex;
    justify-content: flex-end !important;
    align-items: center !important;
 }

@import "~igniteui-angular/lib/core/styles/themes/index";

// Uncomment the following lines if you want to add a custom palette:
// $primary: #731963 !default;
// $secondary: #ce5712 !default;
// $app-palette: igx-palette($primary, $secondary);

@include igx-core();
@include igx-theme($default-palette);

.igx-calendar__header{
    display: none;
}

.igx-calendar__date--current .igx-calendar__date-content {
    color: #2dabe8 !important;
}
.igx-calendar__date--selected .igx-calendar__date-content{
    color: white !important;
    background: #2dabe8 !important;
}
.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.space-logo {
    margin-left:15px;
}

.size-logo {
    height:80px;
}
.row{
    margin: 0;
}
 .text-center{
     text-align: center;
}

.igx-calendar-picker{
    margin: -20px;
}
.igx-calendar__date-content{
    font-size: 12.5px;
}
.igx-calendar-picker__prev {
    margin-left: 5px;;
}
.igx-calendar-picker__next {
    margin-left: -5px;
}