
<div class="row mat-elevation-z6" style="margin-bottom: 20px; margin-left: -25px;">
    <div class="col-md-6" style="background-color: #626262;">
        <igx-calendar
        (onSelection)="value($event)"
        locale="iceland"
        ></igx-calendar>
        <hr style="width: 220px;
        display: flex; margin-left: 35px;  height: 1px;
    color: #545864;
    background-color: #545864;
    border: none;">
        <h5 style="color:white; margin-left:35px">Categorias</h5>
    </div>
    <div class="row" style="background-color: #626262;">
        <div class="col-md-12" style="display: flex;justify-content: center;">
            <button style="background-color: #F39845; color: white; margin-top: 20px; width: 220px; border-radius: 15px;" mat-button >Pesquisa</button>
        </div>
    </div>
    <div class="row" style="background-color: #626262;">
        <div class="col-md-12" style="display: flex;justify-content: center;">
            <button mat-button style="margin-top: 20px; background-color: #8576ED; color: white; width: 220px; border-radius: 15px">Educação</button>
        </div>
    </div>
    <div class="row" style="background-color: #626262;">
        <div class="col-md-12" style="display: flex;justify-content: center;">
            <button mat-button style="margin-top: 20px; background-color: #FF467F; color: white; width: 220px; border-radius: 15px; margin-bottom: 20px;">Usabilidade</button>
        </div>
    </div>
</div>