<!--<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" formControlName="firstName" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">First Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" formControlName="lastName" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Register</button>
        <img *ngIf="loading"
            src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
    </div>
</form> -->

<mat-card>
    <mat-card-content>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <mat-form-field>
                    <mat-icon matPrefix>assignment_ind</mat-icon>
                    <input type="text" matInput placeholder="Nome" formControlName="firstName"
                        [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">O seu nome é obrigatório</div>
                    </div>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field>
                    <mat-icon matPrefix>person</mat-icon>
                    <input type="text" matInput placeholder="Sobrenome" formControlName="lastName"
                        [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">O seu sobrenome é obrigatório</div>
                    </div>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field>
                    <mat-icon matPrefix>account_circle</mat-icon>
                    <input type="text" matInput placeholder="Usuário" formControlName="username"
                        [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">O seu nome de usuário é obrigatório</div>
                    </div>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field>
                    <mat-icon matPrefix>lock</mat-icon>
                    <input type="password" matInput placeholder="Senha" formControlName="password"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Criar uma senha é obrigatório</div>
                        <div *ngIf="f.password.errors.minlength">Sua senha deve ter no mínimo 6 caracteres</div>
                    </div>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field>
                    <mat-icon matPrefix>face</mat-icon>
                    <mat-label>Avatar</mat-label>
                    <ngx-mat-file-input #avatar formControlName="avatar" [accept]="'image/*'"  (change)="loadImage()"  [errorStateMatcher]="AvatarErrorStateMatcher" placeholder="Avatar, mande sua foto :)">
                    </ngx-mat-file-input>
                    <button mat-icon-button matSuffix *ngIf="!avatar.empty"
                        (click)="avatar.clear($event)">
                        <mat-icon>clear</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div class="button" style="display: flex; justify-content: center;">
                <button [disabled]="loading" type="submit" mat-raised-button
                    style="margin-right: 15px;">Registrar</button>
                <button mat-stroked-button [routerLink]="['/login']" color="primary">Cancelar</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>